
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-left">
   <h1> {{titles}} </h1>
 </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-left">
    <img ng-src="{{photo}}" style="float:right" height="40%" width="25%"></img>
    <p>I'm a  full stack developer with a passion to create, build and explore new technologies. Right now, I'm attending an immersive full stack development program with Galvanize in Seattle, Washington.</p>

    <p>I graduated earlier this year from the University of Montana with majors in Journalism and Environmental Studies.  While at the University of Montana, outside of academics, I spent most of my days working at the Montana Kaimin, UM's student-run newspaper. </p>

    <p>When my hands aren't on the keyboard you can often find me camping, road-tripping to new places, or listening to NPR with a warm cup of coffee in hand. </p>
    
  </div>
</div>

<div class="row">
</br>
</br>
<div class="col-lg-4">
  <a href="https://www.linkedin.com/profile/view?id=271579184" class="btn btn-info" role="button" target="_blank" >LINKEDIN</a>
</div>
<div class="col-lg-4">
  <a href="https://twitter.com/breagaudioso" class="btn btn-info" role="button" target="_blank" >TWITTER</a>
</div>
<div class="col-lg-4">
  <a href="https://github.com/BreaGaudioso" class="btn btn-info" role="button" target="_blank" >GITHUB</a>
</div>
</div>