<div class="row">
  <div class="col-lg-12 text-center">
    <h1> {{titles}} </h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 text-left">
    <h4>Education</h3>
    <h3>University of Montana</h3>
    <h5>Major: Journalism and Environmental Studies | May 2015</h5>
    <h3>Galvanize gSchool (Full Stack Development)</h3>
    <h5> Immersive Full stack web development program | Expected Graduation January 2016</h5>
    <p>Focus: <i>Javascript, Node,  jQuery, HTML/CSS, Express,  Authentication, Ruby on Rails, SQL and NoSQL databases, APIs, responsive web design and agile methodologies.</i></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 text-left">
    <h4>Work Experience</h3>
    <h3>Montana Kaimin (University of Montana’s Independent Newspaper)</h3>
    <h5>  News Editor | January 2015 – May 2015</h5>
    <ul>
      <li>Oversaw and directed daily creation of news section for Montana Kaimin</li>
      <li>Supervised layout and coverage of newspaper and website</li>
      <li>Led progression to web-first newsroom transformation
</li>
      <li>Delegated stories to reporters and managed content on web and in print</li>
    </ul>

    <h5> Reporter | August 2013 – December 2014 </h5>
    <ul>
      <li>Produced four print stories weekly along with covering breaking news </li>
      <li>Supervised layout and coverage of newspaper and website</li>
      <li>Produced several long form and multimedia features
      </li>
      <li>Covered the city and environment beats</li>
    </ul>
    <h3>Alternative Energy Resource Organization (AERO) 
</h3>
    <h5>      Intern | April 2014 – August 2014
</h5>
    <ul>
      <li> Managed WordPress website for RepowerMT, Montana’s directory for private and public sustainability projects</li>
      <li> Produced web, print and radio content</li>    
  </div>
</div>
<div class="row">
  <div class="col-lg-8 text-left">
    <h5>Leadership Experience</h5>
    <h3>Great Bear Bears and Apples Program | Fall 2013 and 2014 </h3>
  <ul>
    <li>Glean trees in the Missoula Valley for those physically unable
    </li>
    <li>Focused on reducing human & bear contact by eliminating rotting fruit in the valley
    </li>
  </ul>
    <h3>AniMeals Cat Shelter | Spring 2014</h3>
  <ul>
    <li> Volunteered 10 hours per week to provide care and affection to felines in the shelter
    </li>
    <li>Also greeted prospective visitors interested in adoption and help clean facilities
    </li>
  </ul>
  </div>
</div>
